$primary-color: #4527a0;
$secondary-color: #fb8c00;
$padding-li : 0.5rem 1rem;
$box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);

.lef-nav {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: $box-shadow;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: $padding-li;
            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }
}

.ask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        textarea {
            border: none;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 20px;
            font-size: 22px;

            &:focus {
                box-shadow: 0 8px 16px 0 rgba(69, 69, 160, 0.8);
                outline: none;
            }
        }

        button {
            margin-top: 50px;
            padding: 10px 20px;
            border: 1px solid $primary-color;
            background-color: white;
            color: $primary-color;
            font-weight: bold;
            text-transform: uppercase;


        }
    }
}

.ans-wrap {
    // box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 10px;

    .ans {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        overflow: auto;

        .left {
            width: 600px;
            padding: 10px;
            box-sizing: border-box;
            border-left: 5px solid $primary-color;
        }

        .right {
            width: 600px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid;
        }
    }
}
.tag-review {
    .tag {
        border: 1px solid;
        border-radius: 5px;
        padding: 5px;
        margin-left: 5px;
        &:hover {
            background-color: $primary-color;
            color: white;
            cursor: pointer;
        }
    }
}
.TagDetailItem-wrap {
    padding: 20px;
    .TagDetailItem {
        display: flex;
        .left {
           width: 40%;
           height: 100px;
           border: 1px solid;
           padding: 20px;
           overflow: auto;
        }
        .right {
            padding: 20px;
            width: 60%;
            height: 100px;
            border: 1px solid;
            overflow: auto;
        }
    }
}
